@import "/vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

#print-btn {
    display: none !important;
}
.fi-sidebar-nav {
    background: white;
    box-shadow: 5px 5px 3px 5px #999;
}
.dark .fi-sidebar-nav {
    background-color: #09090b;
}
.fi-logo {
    height: 80px !important;
    width: 122px !important;
}

.fi-simple-header :first-child {
    width: 180px !important;
    height: 110px !important;
}

@media (min-width: 1200px) {
    .fi-sidebar {
        max-width: 18% !important;
    }
}
@media (min-width: 768px) {
    .fi-main.max-w-7xl {
        max-width: 80% !important;
    }
}
